@page "/"
@rendermode InteractiveServer

@inject IJSRuntime JS

<div class="main-container">
    <div class="call-control shadow">
        <label class="form-label fw-bold text-primary">
            Uri to call:
            <input placeholder="henrik@siplook.com" class="custom-input" type="text" id="uri-input" @bind=uri>
        </label>
        <button class="btn btn-danger" @onclick="StartCam">Call</button>
        <div class="container-lg">
        </div>
    </div>

    <div class="video-container">
        <video id="selfview" autoplay playsinline></video>
    </div>
</div>


@code {
    private string uri = string.Empty;

    private async Task StartCam()
    {
        Console.WriteLine($"Uri: {uri}");

        await JS.InvokeVoidAsync("startWebCam");
        await JS.InvokeVoidAsync("startWebCam");
    }
}
